@use "../abstract/variables" as *;

// 기본 Reset
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: $font-size-base;
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: $font-family-base;
    line-height: $line-height-base;
    color: $gray-900;
    background-color: $gray-0;
}

a {
    color: inherit;
    text-decoration: none;
}

button,
input,
textarea {
    font: inherit;
}