@use "../abstract/variables" as *;

// 기본 타이포그래피 스타일
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.25;
  color: var(--text-primary);
  margin-bottom: $spacing-sm;
}

p {
  margin-bottom: $spacing-xs;
  color: var(--text-secondary);
}

small {
  font-size: 0.875rem;
}

