@use "../abstract/index" as *;
@use "nav";

// 필요할 때만 추가
// @forward "header";
// @forward "footer";

.layout-container {
    display: grid;
    height: 100dvh;
    grid-template-rows: auto 1fr;
    grid-template-columns: var(--width-sidebar) 1fr;
    grid-template-areas:
        "header header"
        "nav main";
}

.layout-header {
    grid-area: header;
}

.layout-nav {
    grid-area: nav;
}

.layout-main {
    grid-area: main;
    min-height: 0;
    display: grid;
    grid-template-rows: auto 1fr;
    overflow: hidden;
}

.layout-route-tabs {
    position: sticky;
    top: 0;
    z-index: 10;
}

.layout-main-content {
    min-height: 0;
    overflow: auto;
}