@use "../abstract/index" as *;

.layout-nav {
    background: $gradient-primary;
    color: $gray-0;

    display: grid;
    min-height: 0;
    grid-template-rows: auto 1fr auto;

    &-header {
        .nav-logo{
            padding: 16px 12px;
            svg{
                width: 100%;
                height: auto;
            }
        }

        .nav-actions {
            display: flex;
            justify-content: center;
            gap: 8px;

            .nav-action {
                &.app-button {

                    border-radius: 4px;
                    
                    &:hover {
                        background: rgba($gray-50, 0.1);
                    }
                }
            }
        }
    }

    &-body {
        display: flex;
        flex-direction: column;
        min-height: 0;
        // overflow-y: auto;
        overflow: hidden auto;
    }

    &-footer {
        padding: 12px 20px;
    }
}

.nav-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding-inline: 12px;
    margin-top: 10px;
    
    .nav-row {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 4px;
        padding: 4px;
        &:hover {
            &::after{
                background: rgba($gray-50, 0.1);
            }
        }

        & > * {
            z-index: 1;
        }

        &::after {
            content: '';
            position: absolute;
            left: var(--pos);
            top: 0;
            width: var(--width-sidebar);
            height: 100%;
            z-index: 0;
            border-radius: 4px;
        }

        .nav-label {
            flex: 1;
        }
    }

    .nav-item {
        .nav-item{
            padding-left: 20px;
        }
    }

    .nav-toggle {
        &.app-button--text {
            color: $gray-0;
        }

        .nav-toggle-icon {
            line-height: 1;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            transition: transform 0.16s ease-out;

            svg {
                width: 16px;
                height: 16px;
                display: block;
            }

            &.is-open {
                transform: rotate(90deg);
            }
        }
    }

    .nav-link {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 4px;

        span {
            @include b3_rg;
            color: $gray-0;
        }
    }
}