@use "./variables" as *;
@use "./typography" as *;

/* =========================================
   Base: Form Field
========================================= */

.form-field {
    display: flex;
    flex-direction: column;
    gap: 6px;

    /* -------------------------
       Element
    ------------------------- */

    &__label {
        @include font(b3, rg);
        color: $gray-800;
    }

    &__control {
        position: relative;
        display: flex;
        align-items: center;
    }

    &__hint {
        margin: 0;
        margin-top: 8px;
        font-size: 14px;
        line-height: 1.4;
        color: $gray-600;
    }

    &__error {
        margin: 0;
        margin-top: 8px;
        font-size: 14px;
        line-height: 1.4;
        color: $status-error;
    }

    /* -------------------------
       State
    ------------------------- */

    &.is-disabled {
        .form-field__control {
            opacity: 0.7;
            cursor: not-allowed;
        }
    }

    &.is-error {

        .form-field__hint,
        .form-field__error {
            color: $status-error;
        }
    }

    &.is-warning {
        .form-field__hint {
            color: $status-warning;
        }
    }

    &.is-success {
        .form-field__hint {
            color: $status-success;
        }
    }
}