@use "abstract/index" as *;

/* =========================================
   Component: AppSelect
========================================= */

.app-select {
    @extend .form-field;

    /* -------------------------
       Element
    ------------------------- */

    &__label {
        @extend .form-field__label;
    }

    &__control {
        @extend .form-field__control;
    }

    &__field,
    &__search-input {
        width: 100%;
        box-sizing: border-box;

        border: 1px solid $gray-300;
        background: $gray-0;
        color: $gray-900;
        outline: none;

        transition:
            border-color 0.15s,
            box-shadow 0.15s;

        &::placeholder {
            color: $gray-600;
        }
    }

    &__field {
        cursor: pointer;
    }

    &__hint {
        @extend .form-field__hint;
    }

    &__error {
        @extend .form-field__error;
    }

    /* -------------------------
       State
    ------------------------- */

    &.is-error {

        .app-select__field,
        .app-select__search-input {
            border-color: $status-error;
        }
    }

    &.is-warning {

        .app-select__field,
        .app-select__search-input {
            border-color: $status-warning;
        }
    }

    &.is-success {

        .app-select__field,
        .app-select__search-input {
            border-color: $status-success;
        }
    }

    &.is-disabled {

        .app-select__field,
        .app-select__search-input {
            background: $gray-100;
            color: $gray-500;
            cursor: not-allowed;
        }
    }
}