@use "../../../abstract/index" as *;

/* =========================================
   Component: ToastEditor
   설명: Toast UI Editor wrapper
   목적:
   - 에디터 높이 제어
   - 기본 UI 스타일 override
   주의:
   - toastui-editor-* 클래스는 라이브러리 클래스
   - 반드시 wrapper 내부에서만 override
========================================= */

.toast-editor {

  height: 100%;
  min-height: 0;


  /* ----------------------------------------
     Toast UI Default UI
  ---------------------------------------- */

  .toastui-editor-defaultUI {

    border: 0;

    height: 100%;

  }


  /* ----------------------------------------
     Toolbar
  ---------------------------------------- */

  .toastui-editor-toolbar {

    border-bottom: 1px solid rgba($gray-200, .9);

  }

}